#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}


/* Footer Styles*/
.app-footer{
  background-color: lightpink;
  padding: 0.5rem;
  font-size: 1.25rem;
  
}

a{
  color: black;
  text-decoration: none;
}

/* Header Styles*/
.app-header{
  background-color: lightpink;
  padding: 1rem;
  font-size: 2rem;
}

li{
  list-style: none;
  margin-bottom: 0.75rem;
}

