/* BASE STYLES*/

#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.container{
  font-size: 1.5rem;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}

/* FOOTER STYLES*/

.app-footer{
  background-color: lightpink;
  padding: 0.5rem;
  font-size: 1.5rem;
  
}

a{
  color: white;
  text-decoration: none;
}

/* HEADER STYLES*/

.app-header{
  background-color: lightpink;
  padding: 1rem;
  font-size: 2rem;
}

li{
  list-style: none;
  margin-bottom: 0.75rem;
  font-size: 3rem;
}

.app-title{
  text-align: left;
  margin-left: .9375rem;
}

/* HOME STYLES */

.img{
  width: 18.75rem;
  height: auto;
  border-radius: 5%;
  border-color: black;
  border-style: solid;
}